<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id='formWrap'>
            <div id='form'>
                
                <div class="row">
                    <div class="label">Your Name</div><!--end .label -->
                    <div class="Input">
                        <input type="text" id="fullname" class="detail" name="fullname" value=""/>
                        </div><!--end .Input -->
                          <div class="context">e.g. Svensson Johansson or  Aurora Eulalia </div><!--end .context -->
                           </div><!--end .row -->
                
                           
                            <div class="row">
                    <div class="label">Your Email Address</div><!--end .label -->
                    <div class="Input">
                        <input type="text" id="email" class="detail" name="email" value=""/>
                        </div><!--end .Input -->
                          <div class="context">We will not share your email with anyone or spam you with messages either </div><!--end .context -->
                           </div><!--end .row -->
                           
                            <div class="row">
                    <div class="label">Your Message</div><!--end .label -->
                    <div class="Input">
                        <textarea id="comment" name="comment" class="mess"></textarea>
                        </div><!--end .Input -->
                           </div><!--end .row -->
                           
                           
                           <div class="submit"></div><!--end .submit -->
                
                
            
            
            
            </div><!--end form -->
            </div><!--end formWrap -->
    </body>
</html>
