<!doctype html>
<html>
 <head>
   <title>David Nartey</title>
 <meta charset="utf-8" />
 <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <link href ="resources/css/reset.css" rel="stylesheet" type="text/css"/>
 <link href ="resources/css/maincss.css" rel="stylesheet" type="text/css"/>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

 </head>

 <body>
     <hr>
<div id="topBar">
        <div id="Logo">
        <a href="index.html"><img src="resources/Images/SitlabLogan.jpg" alt="SitlabLogan"></a>
    </div>
<div id="wrapper">
<div id="navMenu">
  <ul>
  <li><a href="#">About  SITLAB</a>
</li>  <!--end main LI-->
</ul>  <!--end main UL-->

  </div> <!--end navMenu div-->
</div> <!--end wrapper div-->

<div id="wrapper">
<div id="navMenu">

  <ul>
  <li><a href="#">Projects</a>
    <ul>
      <li><a href="#">High Performance Computing >></a></li>
      <li><a href="#">3D Printing</a></li>
      <li><a href="#">Internet of Things</a></li>
      <li><a href="#">Telecom</a></li>
      <li><a href="#">Renewable Energy</a></li>
      <li><a href="#">Supervonductivity</a></li>
    </ul><!--end inner UL-->
</li>  <!--end main LI-->
</ul>  <!--end main UL-->
  </div> <!--end navMenu div-->
</div> <!--end wrapper div-->

<div id="wrapper">
<div id="navMenu">
  <ul>
  <li><a href="#">Careers</a>
</li>  <!--end main LI-->
</ul>  <!--end main UL-->

  </div> <!--end navMenu div-->
</div> <!--end wrapper div-->

<div id="wrapper">
<div id="navMenu">

  <ul>
  <li><a href="#">Contact Us</a>
</li>  <!--end main LI-->
</ul>  <!--end main UL-->

  </div> <!--end navMenu div-->
</div> <!--end wrapper div-->

<br class="clearFloat"/>
</div>
     <hr>
     <div id="background">
         <div id="content">
         <h1>Welcome to SITLAB</h1>
         <p>Lorem ipsum dolor sit amet, vix dolorem complectitur in, admodum pericula qualisque et eam. 
             Cu reque civibus oporteat est, libris aliquid habemus ut nam. Eos in sanctus intellegebat. Eos case quaeque propriae id. Integre feugiat ei eos, ad partiendo neglegentur mel, ut has meis maiorum. Mea clita dolore efficiendi eu, quo at mutat mazim pericula. Vim ut odio quaestio rationibus.

            Sed ea deleniti lucilius, eum dicit saperet no. Vis primis patrioque honestatis at, mentitum maiestatis quo ne. 
            Ius cu partem legere ullamcorper, an vel fugit delicatissimi. Reprimique consequuntur eu nec, pro id modus assentior.

            Agam partem concludaturque nam at. Per nostro pertinacia instructior at, et has scaevola atomorum disputando. 
            Ius et nulla maiestatis, unum apeirian duo ei, vel in civibus tacimates postulant. His omnis evertitur ad, vis illum liberavisse disputationi ea, elit paulo doming ad mei. In ornatus abhorreant nec, lorem vidisse vix id. Torquatos voluptatum vel ne, cu dicam labitur quo.

            Affert volumus liberavisse nec ad, cu oratio nominavi accusata ius. Ut hinc liber duo, mea veri convenire accommodare ad, pri ea eius prima nostro.
            Labitur rationibus at eum, in pri accusamus necessitatibus, no his laoreet molestie apeirian. An cum case mnesarchum dissentiet, diceret equidem maluisset ei has. Vide bonorum sit an, an alterum liberavisse vis, ne habemus fabellas mel.

            Vix cu causae referrentur, quaeque democritum duo te, fuisset consulatu ea vix. Natum audire his ut, ut has nemore aliquip forensibus.
            At stet legimus volumus vis. Adolescens mediocritatem cu eos. Duis invidunt ut sea, eu vis mazim iudico, ut hinc fastidii recusabo has.</p>

     </div>
     </div>

 </body>
</html>